<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trang chủ</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/Assets/Client/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/Assets/Client/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/Assets/Client/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/Assets/Client/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/Assets/Client/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/Assets/Client/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/Assets/Client/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/Assets/Client/css/style.css" type="text/css">

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="@Url.Action("Index","Home")"><img src="~/Assets/Images/Kiwi'sFastfood.png" alt="" style="height:50px;width:119px"></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="@Url.Action("DonDatHang","Admin")">Đơn hàng</a></li>
                            <li><a href="@Url.Action("Loai","Admin")">Loại món</a></li>
                            <li><a href="@Url.Action("MonAn","Admin")">Món ăn</a></li>
                            <li><a href="@Url.Action("KhachHang","Admin")">Khách hàng</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    @RenderBody()
    <!-- Js Plugins -->
    <script src="/Assets/Client/js/jquery-3.3.1.min.js"></script>
    <script src="/Assets/Client/js/bootstrap.min.js"></script>
    <script src="/Assets/Client/js/jquery.nice-select.min.js"></script>
    <script src="/Assets/Client/js/jquery-ui.min.js"></script>
    <script src="/Assets/Client/js/jquery.slicknav.js"></script>
    <script src="/Assets/Client/js/mixitup.min.js"></script>
    <script src="/Assets/Client/js/owl.carousel.min.js"></script>
    <script src="/Assets/Client/js/main.js"></script>
</body>
</html>
