
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Hero Section End -->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/Assets/Images/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Thông tin chi tiết</h2>
                    <div class="breadcrumb__option">
                        <a href="@Url.Action("Index", "Home")">Trang chủ</a>
                        <span>Thông tin chi tiết</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="@Url.Content("~/Assets/Images/"+Model.AnhDD)" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>@Model.TenMon</h3>
                    <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <div class="product__details__price">@Model.GiaBan vnđ</div>
                    <p>
                        @Model.NoiDung
                    </p>
                    <a href="@Url.Action("ThemGioHang", "GioHang", new { @iMaMon = Model.MaMon, @strURL = Request.Url.ToString() })" class="primary-btn">THÊM VÀO GIỎ HÀNG</a>
                    <ul>
                        <li><b>Kho</b> <span>@Model.SoLuongTon</span></li>
                        <li><b>Giao hàng</b> <span>Miễn phí giao hàng hóa đơn trên 350k</span></li>
                        <li><b>Cân nặng</b> <span>0.5 kg</span></li>
                        <li>
                            <b>Chia sẻ</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
